@{
    ViewBag.Title = "Confirmation Page";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@model HelloWorldAssessment.Models.UserInfo


<h2> Confirmation of Registration </h2>
<h1> Thank You for Registering @Model.Userfname, @Model.Userlname</h1>

