@{
    ViewBag.Title = "Contact Me for an In-Person Interview!";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <abbr title="Phone">P: 586 339 4143</abbr>
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Lanna_LMB@Hotmail.com?Subject=You&#39re%20Hired&#33">Lanna_LMB@hotmail.com</a><br />
    <strong>Github:</strong> <a href="https://github.com/lannalmb">Github.com/LannaLmb</a><br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/lanna-brasure/">LinkedIn.com/in/Lanna-Brasure</a>
</address>