
@{
    ViewBag.Title = "User Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center;">User Registration Form</h2>
<h5 style="text-align:center;">Please Fill Out the Form Below</h5>

<form style="text-align:center; background-color: #ADD8E6; border: 1px;" action="/Home/AddUser" method="post"
      oninput="x.value=parseInt(range.value)+parseInt(0)">









</form>


